.container-chat {
    width: 20rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    margin: auto;
    margin-top: 20rem;
}

.title-chat {
    font-size: 2.8rem;
    color: #000;
}

.input-chat {
    width: 80%;
    height: 3.4rem;
    border-radius: 0.4rem;
    outline: 2.4px solid #338f49;
    background-color: #fff;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: #000;
}

.input-chat:focus {
    outline: 2.4px solid blue;
}

.btn-chat {
    width: 81%;
    height: 3.4rem;
    border-radius: 0.4rem;
    border: none;
    background-color: #338f49;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-chat:active {
    background-color: #4a9b5c;
}

.line {
    outline: 1px solid #000;
}